@media screen and (max-width: 1200px) {}
@media screen and (max-width: 991px) {

    /* section title start */
    .section-title {
        text-align: center;
    }

    section {
        padding: 80px 0 !important;
    }
    /* section title end*/

    /* Nav responsibe css start */
    .navbar {
        padding: 15px !important;
        z-index: 999;
    }

    .navbar-brand img {
        height: 40px;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        z-index: 99;
        background-color: #fff;
        overflow-y: scroll;
    }

    .navbar-collapse.collapsing {
        left: -75%;

    }
    .navbar-collapse ul {
        height: 100%;
    }

    .navbar-collapse ul li {
        width: 100%;
        margin: 0 auto;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .navbar-light .navbar-toggler {
        color: transparent!important;
        border: transparent!important;
        padding: 0;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-8px, 4px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -3px);
        transform: rotate(45deg) translate(-7px, -3px);
    }

    .navbar .nav-link {
        padding: 15px !important;
    }
    .dropdown:hover > .dropdown-menu {
        display: none;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        display: none;
    }
    .dropdown-menu.show {
        display: block!important;
        margin: 0;
        border: 0;
    }

    .dropdown-item::before {
        content: '';
        width: 0;
        height: 100%;
        background-color: transparent!important;

    }

    .navbar .dropdown-menu {
        box-shadow: none;
        padding: 0 12px;
    }

    .dropdown-item {
        background: #fff!important;
    }
    .navbar .nav-link:hover {
        color: #252525!important;
    }
    li.show > .dropdown-toggle:after {
        transform: rotate(180deg)!important;
    }
    /* sous-Niveaux suivants */
    li li.show > .dropdown-toggle:after {
        transform: rotate(90deg)!important;
    }

    .dropdown-menu li {
        border: transparent!important;
    }
    .dropdown-item:hover {
        padding: 0.5rem 1.5rem;
        background-color: #FFF!important;
        color: #252525!important;
        background-position: left bottom;
    }
    .navbar-light .navbar-nav .nav-link {
        border-bottom: 1px solid #DBEEFD;
    }

    .dropdown-item {
        border-bottom: 1px solid #DBEEFD;
    }

    .nav-search {
        display: none;
    }

    .modal-body.nav-search {
        display: block;
    }

    .navbar .container {
        position: relative;
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
    }

    .search-mb {
        display: block;
        color: #333;
        position: absolute;
        right: 8%;
        top: 9px;
    }

    .modal-body.nav-search form {
        position: relative;
    }

    .modal-body.nav-search form .form-control {
        position: relative;
    }

    .modal-body.nav-search form button {
        position: absolute;
        right: 0;

    }
    /* Nav responsibe css end */

    .banner-item-content h1 {
        font-size: 35px;
        max-width: 100%;
    }

    /*  */
    .ly1,
    .ly2 {
        display: none;
    }

    .img-wrap {
        margin-bottom: 50px;
    }

    /*  */

    .testimonial .sec-title-1 {
        text-align: center;
    }
}
@media screen and (max-width: 767px) {

    .search-mb {
        right: 9%;
    }
    /* section */
    .section-title h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .sec-title2 .title {
        font-size: 25px;
    }
    /* btn */
    .btn-primary {
        font-size: 15px;
        padding: 15px 25px;
    }
    /* bannar hero */

    .hero-area {
        height: 90vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-item-content h1 {
        max-width: 100%;
        font-size: 35px;
        margin-top: 25px;
    }

    /*  */

    .about-content .about-list {
        margin-top: 0;
    }

    .call-contact .call-btn {
        font-size: 25px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .call-contact p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 28px;
    }

}
@media screen and (max-width: 576px) {
    .search-mb {
        right: 11%;
    }

    .about-play-content {
       display: none;
    }
}
@media screen and (max-width: 476px) {
    .search-mb {
        right: 15%;
    }
}
