/*======================versions and details=============================

Template : Education Reporters Association of Bangladesh -ERAB.
version : 1.0.0
A work of : Tecbnohaat IT LTD.
Designed By RAQIBUL HASAN RAHAT (Frontend developer || Technohaat IT LTD)



### content - 1. mini header.
              2. nav area.
              3. slider hero area.
              4. About us area.
              5. President's speech area.
              6. G.Secretary's spech area.
              7. At a glance area.
              8. Blog Area.
              9. Footer.
              10. Go to top.


Last date of update - 06 june 2022.




============================================================================= */

/* ===========Google font================= */
@import url( 'https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Livvic', sans-serif;
    color: #444;
    font-weight: 500;
    overflow-x: hidden!important;
}
p {
    color: #444;
    font-weight: 500;
}
a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    outline: 0;
}
button:focus {
    outline: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #252525;
}
h3 {
    font-size: 22px;
}

p {
    -webkit-hyphens: auto;
    hyphens: auto;
    margin-bottom: 10px;
}

a,
li {
    margin-bottom: 0 !important;
    list-style-type: none;
    text-decoration: none!important;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s ease-in;
}
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* =============Bootstrap Overwrite Strat============= */
.btn:focus {
    outline: #0071dc!important;
}
.btn:active,
.btn:focus {
    outline: #0071dc!important;
    box-shadow: none!important;
}
.uneditable-input:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
    border-color: #0071dc;
    outline: none!important;
    box-shadow: none!important;
}

/*--------------- buttons--------------- */

.btn-primary {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    padding: 20px 35px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    outline: none!important;
}
.btn-primary:focus {
    outline: none;
}
.btn-primary:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-primary.btn-blue {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.btn-primary.btn-yellow {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

/*  */

.btn-secondary {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 20px 35px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    outline: none!important;
}

.btn-secondary.btn-xt-blue {
    background-image: linear-gradient(250deg,#4e95ed 19%,#03228f);
}
.btn-secondary.btn-xt-blue:hover {
    background-image: linear-gradient(180deg, #03228F 19%, #4E95ED 100%);
}

/*  */
.overflow-hidden {
    overflow-x: hidden!important;
}

.section-title {
    display: block;
    position: relative;
    z-index: 9!important;
}

.top-title {
    font-size: 18px;
    color: #ffc221;
    font-weight: 700;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 800;
    color: #0e1133;
    text-transform: capitalize;
    z-index: 1;
    margin-bottom: 3px;
}

.section-title span {
    position: relative;
}

.section-title span img {
    position: absolute;
    left: -2px;
    bottom: 2px;
    z-index: -1;
    animation: section-animation 5s infinite;
}
@keyframes section-animation {
    0% {
        width: 0;
    }
    15% {
        width: 100%;
    }
    85% {
        opacity: 1;
    }
    90% {
        width: 100%;
        opacity: 0;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

/*  */
.sec-title-1 .sub-text-1 {
    position: relative;
    padding-left: 95px;
    display: inline-block;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #03228f;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sec-title-1 .sub-text-1:after,
.sec-title-1 .sub-text-1:before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #03228f;
    top: 12px;
}
.sec-title-1 .sub-text-1:before {
    left: 0;
    width: 12px;
}
.sec-title-1 .sub-text-1:after {
    border: 0;
    width: 50px;
    z-index: 1;
    margin-left: 0;
    left: 24px;
}

.sec-title-1 .title-1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 46px;
    color: #101010;
    margin-bottom: 20px;
}
.sec-title-1 .desc-1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*  */

.sec-title2 {
    z-index: 1!important;
}

.sec-title2 .sub-text {
    margin: 0 0 10px;
    display: block;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #03228f;
    text-transform: uppercase;
    z-index: 2;
}

.sec-title2 .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    color: #0a0a0a;
    max-width: 600px;
    margin: 0 auto;
    z-index: 2;
}

.sec-title2 .heading-line {
    position: relative;
    background-color: #03228f;
    height: 5px;
    width: 90px;
    border-radius: 30px;
    margin: 20px auto;
    z-index: 2;
}
.sec-title2 .heading-line:before {
    z-index: 2;
    background-color: #1940aa;
    content: "";
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-name: watermark-animate;
    animation-name: watermark-animate;
}

.watermark-animate {
    -webkit-animation: watermark-animate 8s infinite;
    animation: watermark-animate 8s infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes watermark-animate {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

/*========================01. mini header start ===============================*/

.top-header-bg {
    background-color: #070b3b;
}
.top-header {
    padding: 7px 0 10px;
}

.top-head-left .top-contact {
    position: relative;
    display: inline-block;
}
.top-head-left .top-contact h3 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 500;
}

.top-header-right .top-header-social {
    display: inline-block;
}
.top-header-right .top-header-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-header-right .top-header-social ul li {
    display: inline-block;
    top: 1px;
    position: relative;
}

.top-header-right .top-header-social ul li a i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    border-radius: 50px;
    font-size: 18px;
}
/*======================== mini header end ===============================*/

/*========================02. nav area Start ===============================*/

.navbar-brand h3 {
    font-weight: 800;
    font-size: 24px;
    background: linear-gradient(90deg, #0072ff 0%, #3019b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0 !important;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0!important;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
/* SPECIAL : ROTATION des flèches */
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 0.8em;
}
li:hover > .dropdown-toggle:after {
    transform: rotate(180deg);
}
li li:hover > .dropdown-toggle:after {
    transform: rotate(90deg);
}
li .dropdown-toggle:after {
    transition: all 0.5s;
}
li.show > .dropdown-toggle:after {
    transform: rotate(180deg);
}
li li.show > .dropdown-toggle:after {
    transform: rotate(90deg);
}

.navbar {
    background-color: #FFFFFF!important;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 0 !important;
    z-index: 999;

}

.navbar li a {
    text-transform: uppercase;
}

.navbar .nav-link {
    text-transform: uppercase;
    color: #252525!important;
    font-weight: 600;
    margin-left: 0;
    margin-right: 12px;
    padding: 25px 0;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    transition: all 0.5s ease-in;
}
.navbar .nav-link:hover {
    background: linear-gradient(90deg, #0072ff 0%, #3019b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .dropdown-menu {
    top: 99%!important;
    padding: 0;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    margin: 0 !important;
}

.dropdown-submenu .dropdown-menu {
    top: 0!important;
}

.dropdown-menu li {
    border-bottom: 1px solid #f2f2f2!important;
}
.dropdown-menu li:last-child {
    border-bottom: 0 solid #f2f2f2!important;
}
.dropdown-item {
    padding: 0.5rem 1.5rem;
    color: #252525!important;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff!important;
    background: linear-gradient(to right, #0071dc 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.dropdown-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #0071dc!important;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    z-index: 1;
}
.dropdown-item:hover {
    padding-left: 30px;
    background-color: #0071dc!important;
    color: #FFF!important;
    background-position: left bottom;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 45%;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    top: 100%;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 19px;
}

.nav-search form {
    position: relative;
}

.nav-search form .form-control {
    height: 45px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.nav-search form button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 40px;
    width: 40px;
    background-color: #ffc221;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: none;
    outline: none;
    border-radius: 50px;
}

.fixed_nav {
    position: fixed!important;
    margin: 0 auto;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    animation-name: myAnim;
    animation-duration: 1s;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
}
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes blink {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*======================== nav area end ===============================*/

/* hero area */

.hero-area {
    position: relative;
    z-index: 1;
    background-image: url('../img/banner.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-area::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#252525bf), to(#25252500));
    background-image: linear-gradient(to right, #252525bf, #25252500);
}

.banner-item-content span {
    font-size: 15px;
    font-weight: 500;
    color: #0071dc;
    padding: 10px 25px;
    background-color: #ffffff;
    border-radius: 50px;
    display: inline-block;
}
.banner-item-content h1 {
    margin-top: 25px;
    font-size: 70px;
    color: #ffffff;
    font-weight: bold;
    max-width: 780px;
    margin-bottom: 20px;
}
.banner-item-content p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    max-width: 660px;
    margin-bottom: 35px;
}

/*  */

.about-us {
    padding: 150px 0 200px;
}

.img-wrap .ly1 {
    position: absolute;
    left: -165px;
    top: -56px;
    z-index: -1;
}

.img-wrap .ly2 {
    position: absolute;
    left: -165px;
    top: 395px;
    z-index: -1;
}
.dance {
    animation: dance 2s infinite alternate;
    -webkit-animation: dance 2s infinite alternate;
}
.dance2 {
    animation: dance2 4s infinite alternate;
    -webkit-animation: dance2 4s infinite alternate;
}
@keyframes dance {
    0% {
        transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

}
@keyframes dance2 {
    0% {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    50% {
        transform: translate3d(15px,-15px,0);
        -webkit-transform: translate3d(15px,-15px,0);
    }
    100% {
        transform: translate3d(0,-15px,15px);
        -webkit-transform: translate3d(0,-15px,15px);
    }

}
/*  */

.about-content .about-list {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}
.about-content .about-list li {
    display: block;
    color: #252525;
    margin-bottom: 10px !important;
    font-weight: 500;
    transition: 0.7s;
    padding-left: 35px;
    position: relative;
    transition: 0.5s;
    font-size: 16px;
}
.about-content .about-list li:hover {
    color: #0071dc;
}
.about-content .about-list li:hover i {
    color: #ffc221;
}
.about-content .about-list li:last-child {
    margin-bottom: 0;
}
.about-content .about-list li i {
    font-size: 26px;
    color: #0071dc;
    position: absolute;
    left: 0;
    top: -2px;
    margin-right: 5px;
    transition: 0.5s;
}
.count-box .text-area {
    margin-top: 20px;
}

.count-box .text-area span {
    color: #dd4c23;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.count-box .text-area span.color-blue {
    color: #03228f!important;
}

.count-box .text-area p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: #101010;
}

.service {
    position: relative;
    padding: 150px 0;
    background-color: #F6F7F9;
}

.line-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
    max-width: 1240px;
}

.line-inner .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #fff;
    z-index: -1;
}
/* .line-inner .line:after {
    content: "";
    display: block;
    position: absolute;
    height: 80px;
    width: 3px;
    top: -20%;
    left: -1px;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 39%,#1273eb 130%,#1273eb 0);
    background-color: transparent;
    -webkit-animation: rainline 13s linear 0s infinite;
    animation: rainline 13s linear 0s infinite;

} */
.line-inner .line:after {
    content: "";
    display: block;
    position: absolute;
    height: 80px;
    width: 3px;
    top: -20%;
    left: -1px;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 39%,#1273eb 130%,#1273eb 0);
    background-color: transparent;
    -webkit-animation: rainline 13s linear 0s infinite;
    animation: rainline 10s linear 0s infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.line-inner .line:first-child {
    left: 2px!important;
}
.line-inner .line:nth-child(3) {
    left: unset!important;
    right: 2px;
}
.line-inner .line:first-child:after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.line-inner .line:nth-child(3):after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
@keyframes rainline {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}

.services-item {
    margin: 0;
    padding: 60px 25px 50px 35px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 35px;
}
.services-item .services-icon {
    margin-bottom: 30px;
}
.services-item .services-icon .image-part img {
    width: 80px;
    height: 80px;
}
.services-item .services-content .services-text .services-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
    color: #03228F;
}
.services-item .services-content .services-text .services-title:hover {
    color: #F09B1C;
}

.services-item .services-content .services-desc p {
    color: #444;
    margin: 0;
}

/*  */

.work-process-area {
    padding: 150px 0;
}

.work-process-left {
    background-color: #070b3b;
    padding: 148px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.work-process-left::before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg-shape.png");
}
.work-process-left .section-title {
    margin-bottom: 30px;
}
.work-process-left .section-title h2 {
    color: #fff;
}
.work-process-left .default-btn {
    margin: 0 auto;
}
.work-process-card {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.work-process-card::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 70px;
    height: 55px;
    background-color: #0071dc;
    border-radius: 0 0 0 270px;
    opacity: 0.1;
    transition: 0.7s;
}
.work-process-card i {
    font-size: 60px;
    color: #0071dc;
    line-height: 1.2;
}

.work-process-card img {
    height: 70px;
    width: 70px;
}
.work-process-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.work-process-card p {
    margin-bottom: 0;
}
.work-process-card .number {
    font-size: 24px;
    color: #0071dc;
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: 15px;
}
.work-process-area-two {
    position: relative;
}
.work-shape {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.work-process-card-two {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 35px 23px;
    margin-bottom: 30px;
}
.work-process-card-two .number-title {
    font-size: 30px;
    color: #0071dc;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
.work-process-card-two h3 {
    margin-bottom: 15px;
}
.work-process-card-two p {
    margin-bottom: 0;
}
.work-process-right {
    background-color: #070b3b;
    padding: 138px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.work-process-right::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/shape/bg-shape2.png");
}
.work-process-right .section-title {
    margin-bottom: 30px;
}
.work-process-right .section-title h2 {
    color: #fff;
}
.work-process-right .default-btn {
    margin: 0 auto;
}
.work-process-card-three {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 35px 23px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.work-process-card-three::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 85px;
    height: 75px;
    background-color: #0071dc;
    border-radius: 0 0 0 100%;
    opacity: 0.1;
    transition: 0.7s;
}
.work-process-card-three .number-title {
    font-size: 30px;
    color: #0071dc;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
.work-process-card-three h3 {
    margin-bottom: 15px;
}
.work-process-card-three p {
    margin-bottom: 0;
}
.work-process-card-three i {
    font-size: 30px;
    color: #0071dc;
    position: absolute;
    top: 7px;
    right: 15px;
}
.sp-color1 {
    color: #F09C1D;
    margin-bottom: 15px !important;
    font-weight: 800;
}

/*================================== Work Area End =================================*/
.choose-area {
    padding: 150px 0;
    background-color: #070b3b;
}
.choose-content {
    margin-bottom: 30px;
}
.choose-content .section-title h2 {
    max-width: 470px;
    color: #fff;
}
.choose-content .section-title p {
    color: #fff;
}
.choose-content .choose-content-card {
    margin-top: 15px;
}
.choose-content .choose-content-card .content {
    padding-top: 20px;
    position: relative;
    padding-left: 75px;
}
.choose-content .choose-content-card .content i {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 50px;
    color: #0071dc;
    line-height: 1;
}
.choose-content .choose-content-card .content h3 {
    margin-top: 10px;
    margin-bottom: 12px;
    color: #fff;
}
.choose-content .choose-content-card p {
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
}
.choose-img {
    margin-bottom: 30px;
}
.choose-img img {
    border-radius: 15px;
}
.choose-content-two .section-title {
    margin-bottom: 25px;
}
.choose-content-two .section-title p {
    padding-top: 15px;
}
.choose-content-two .choose-content-card {
    position: relative;
    padding-left: 100px;
    margin-bottom: 25px;
}

.choose-img {
    position: relative;
}

.play-icon {
    display: inline-block;
    position: relative;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 100%;
    text-align: center;
    background: #fff;
}
.play-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-animation: pulse-border 1.5s ease-out infinite;
    animation: pulse-border 1.5s ease-out infinite;
    background: #fff;
}

.play-icon i {
    text-align: center;
    color: #106eea;
    border-radius: 100%;
    font-size: 25px;
    position: relative;
    line-height: 70px;
    z-index: 9;
    width: 100%;
    vertical-align: middle;
    margin-left: 3px;
    height: auto;
}

.call-us-area .address-icon {
    position: absolute;
}

.call-us-area .address-icon {
    display: inline-block;
    position: relative;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 100%;
    text-align: center;
    background: #fff;
}
.call-us-area .address-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-animation: pulse-border 1.5s ease-out infinite;
    animation: pulse-border 1.5s ease-out infinite;
    background: #fff;
}

.call-us-area .address-icon i {
    text-align: center;
    color: #106eea;
    border-radius: 100%;
    font-size: 25px;
    position: relative;
    line-height: 70px;
    z-index: 9;
    width: 100%;
    vertical-align: middle;
    margin-left: 3px;
    height: auto;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-dialog {
    max-width: 600px;
    margin: 0 auto;
}

.video-modal .modal-body iframe {
    width: 100%!important;
    height: 325px!important;
    border: none;
}

.video-modal .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 0.3rem;
    outline: 0;
}

.video-modal .modal-header {
    padding: 0 !important;
    border-bottom: transparent!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;

}

.video-modal .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fff;
}

.about-play-content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    max-width: 470px;
    background-color: #25252538;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 70%;
    padding: 85px 44px 30px 20px;
}

.about-play-content::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 86.7%;
    height: 88.1%;
    background-color: #0071dc;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 70%;
}

.about-play-content span {
    color: #ffffff;
}
.about-play-content h2 {
    color: #ffffff;
    font-size: 29px;
    max-width: 300px;
    margin-bottom: 0;
}
@keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/*  */
.call-us-area {
    padding-top: 50px;
}

.call-us-area {
    background: url("/assets/img/call-bg.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000060;
}
.call-us-area {
    background-color: #070b3b;
    position: relative;
    z-index: 1;
}

.call-us-img {
    text-align: center;
    position: relative;
    z-index: 1;
    max-height: 585px;
}

.call-us-img img {
    max-height: 585px;
}
.call-shape .shape1 {
    position: absolute;
    top: 30px;
    left: 30px;
}
.call-shape .shape2 {
    position: absolute;
    top: 30px;
    right: -35px;
}
.call-contact {
    padding: 50px 0;
}
.call-contact h3 {
    font-size: 22px;
    color: #ffc221;
    margin-bottom: 5px;
    margin-top: 30px;
}

.call-contact p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
}

.call-contact .play-btn {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 25px;
}
.call-contact .call-btn {
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
}
/*  */

.tech-we-use {
    position: relative;
    padding: 150px 0;
    background: #F6F7F9;
}

.use-tech {
    position: relative;
    width: 100px;
    background: #fff;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.use-tech:hover {
    transform: translateY(-10px);
}

.tech-tooltips p {
    color: #000060;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0 !important;

}
/* projects */

.project {
    position: relative;
    padding: 150px 0;
    background-color: #F6F7F9;
}

.project-container {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
}

.project-container img {
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
    border-radius: 10px;
}
.project-container:hover .overlay {
    width: 100%;
    left: 0;
}

.project-container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}

.project-container .text .btn-secondary {
    text-align: center;
}

.project-container .text p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px !important;
}
/*  */

.blog-area {
    position: relative;
    padding: 150px 0;

}

.blog-card {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    border-radius: 5px;
    transition: 0.9s;
    border: 1px solid #f1f1f1;
}
.blog-card .blog-img {
    position: relative;
}
.blog-card .blog-img img {
    border-radius: 5px;
}
.blog-card .blog-img .blog-tag {
    background-color: #ffc221;
    padding: 15px 12px;
    position: absolute;
    bottom: -20px;
    right: 30px;
    border-radius: 5px;
    text-align: center;
}
.blog-card .blog-img .blog-tag h3 {
    font-size: 17px;
    color: #fff;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 500;
}
.blog-card .blog-img .blog-tag span {
    color: #fff;
    line-height: 1;
    font-weight: 500;
}
.blog-card .content {
    padding: 25px 30px;
}
.blog-card .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.blog-card .content ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
}
.blog-card .content ul li a {
    color: #444;
}
.blog-card .content ul li a i {
    font-size: 20px;
    color: #0071dc;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.blog-card .content ul li a:last-child {
    margin-right: 0;
}
.blog-card .content ul li a:hover {
    color: #ffc221;
}
.blog-card .content ul li a:hover i {
    color: #0071dc;
}
.blog-card .content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.blog-card .content h3 a {
    color: #252525;
}
.blog-card .content p {
    margin-bottom: 8px;
}
.blog-card .content .read-btn {
    color: #0071dc;
    font-size: 15px;
    font-weight: 600;
}
.blog-card .content .read-btn i {
    font-size: 20px;
    position: relative;
    top: 3px;
}
.blog-card .content .read-btn:hover {
    color: #252525;
    letter-spacing: 0.25px;
}
.blog-card:hover {
    transform: translateY(-10px);
}
.blog-card:hover .content h3 a {
    color: #ffc221;
}
.blog-item {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    border-radius: 5px;
    transition: 0.9s;
}
.blog-item .blog-img {
    position: relative;
}
.blog-item .blog-img img {
    border-radius: 5px;
}
.blog-item .blog-img .blog-tag {
    background-color: #0071dc;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    transition: 0.7s;
    color: #fff;
}
.blog-item .blog-img .blog-tag:hover {
    background-color: #fff;
    color: #0071dc;
}
.blog-item .blog-img2 {
    position: relative;
}
.blog-item .blog-img2 img {
    border-radius: 5px;
    padding: 20px;
    background-color: #e6f1fc;
}
.blog-item .blog-img2 .blog-tag {
    background-color: #0071dc;
    padding: 10px 14px 8px;
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
}
.blog-item .blog-img2 .blog-tag h3 {
    font-size: 20px;
    color: #fff;
    line-height: 1;
    margin-bottom: 2px;
    font-weight: 600;
}
.blog-item .blog-img2 .blog-tag span {
    color: #fff;
    line-height: 1;
    font-weight: 400;
    font-size: 15px;
}
.blog-item .blog-img3 {
    position: relative;
}
.blog-item .blog-img3 img {
    border-radius: 5px;
}
.blog-item .blog-img3 .blog-tag {
    background-color: #0071dc;
    padding: 10px 14px 8px;
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
}
.blog-item .blog-img3 .blog-tag h3 {
    font-size: 20px;
    color: #fff;
    line-height: 1;
    margin-bottom: 2px;
    font-weight: 600;
}
.blog-item .blog-img3 .blog-tag span {
    color: #fff;
    line-height: 1;
    font-weight: 400;
    font-size: 15px;
}
.blog-item .content {
    padding: 25px 21px;
}
.blog-item .content ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}
.blog-item .content ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
    color: #444;
    font-weight: 500;
}
.blog-item .content ul li i {
    font-size: 18px;
    color: #0071dc;
    margin-right: 5px;
    position: relative;
    top: 3px;
    transition: 0.7s;
}
.blog-item .content ul li a {
    color: #444;
}
.blog-item .content ul li a i {
    font-size: 20px;
    color: #0071dc;
    margin-right: 5px;
    position: relative;
    font-size: 18px;
    transition: 0.7s;
}
.blog-item .content ul li a:last-child {
    margin-right: 0;
}
.blog-item .content ul li a:hover {
    color: #0071dc;
}
.blog-item .content ul li a:hover i {
    color: #ffc221;
}
.blog-item .content h3 {
    margin-bottom: 10px;
    font-size: 22px;
}
.blog-item .content h3 a {
    color: #252525;
}
.blog-item .content p {
    margin-bottom: 8px;
}
.blog-item .content .read-btn {
    color: #0071dc;
    font-size: 14px;
    font-weight: 600;
}
.blog-item .content .read-btn i {
    font-size: 20px;
    position: relative;
    top: 5px;
}
.blog-item .content .read-btn:hover {
    color: #252525;
    letter-spacing: 0.25px;
}
.blog-item:hover {
    transform: translateY(-10px);
}
.blog-item:hover .content h3 a {
    color: #0071dc;
}
/* testimonial */

.testimonial {
    padding: 150px 0;
    position: relative;
    background-color: #F6F7F9;
}

.testi-item {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin: 20px;
    border-radius: 15px;
}
.testimonial .reviews h4 {
    text-align: unset;
    position: unset;
    color: #333;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
}

.reviewers img {
    width: 70px!important;
    height: 70px!important;
    border-radius: 50px;
    margin-right: 20px;
}

.reviewers img {
    width: 70px!important;
    height: 70px!important;
    border-radius: 50px;
    margin-right: 10px;
}

.reviewers p {
    margin-bottom: 0 !important;
}
/*  */

.footer-bg {
    background-color: #070b3b;
}
.footer-top {
    background-image: url('../img/footer.png');
    padding: 100px 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo a {
    font-weight: 800;
    font-size: 24px;
    background: linear-gradient(90deg, #0072ff 0%, #3019b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0 !important;
}
.footer-widget {
    margin-bottom: 30px;
}
.footer-widget .footer-logo {
    margin-bottom: 20px;
    position: relative;
    top: -5px;
}
.footer-widget h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 30px;
    color: #101010;
    line-height: 1.2;
}
.footer-widget p {
    margin-bottom: 20px;
    color: #101010;
    max-width: 300px;
}

.footer-widget .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-widget .footer-list li {
    display: block;
    margin-bottom: 10px !important;
    font-weight: 500;
}
.footer-widget .footer-list li:last-child {
    margin-bottom: 0;
}
.footer-widget .footer-list li a {
    color: #454545;
    font-weight: 400;
}
.footer-widget .footer-list li a i {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.footer-widget .footer-list li a:hover {
    color: #000060;
}
.footer-widget .footer-blog {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-widget .footer-blog li {
    display: block;
    margin-bottom: 20px;
    padding-left: 90px;
    position: relative;
}
.footer-widget .footer-blog li:hover h3 a {
    color: #ffc221;
}
.footer-widget .footer-blog li:last-child {
    margin-bottom: 0;
}
.footer-widget .footer-blog li a {
    display: block;
}
.footer-widget .footer-blog li a img {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
}
.footer-widget .footer-blog li h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    max-width: 200px;
}
.footer-widget .footer-blog li h3 a {
    color: #fff;
    line-height: 1.4;
}
.footer-widget .footer-blog li h3 a:hover {
    color: #ffc221;
}
.footer-widget .footer-blog li span {
    font-size: 14px;
    color: #ffc221;
}
.footer-widget .newsletter-area .newsletter-form {
    position: relative;
    max-width: 270px;
    border-radius: 5px;
}
.footer-widget .newsletter-area .newsletter-form .form-control {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-radius: 5px;
    border: 0;
    padding: 0 45px 0 15px;
    max-width: 100%;
    color: #252525;
    font-weight: 400;
}
.footer-widget .newsletter-area .newsletter-form .form-control:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.footer-widget .newsletter-area .newsletter-form .subscribe-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #0071dc;
    color: #fff;
    height: 45px;
    line-height: 50px;
    width: 45px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
}
.footer-widget .newsletter-area .newsletter-form .subscribe-btn:hover {
    background: #252525;
    color: #fff;
}
.footer-widget .newsletter-area .newsletter-form .validation-danger {
    font-size: 18px;
    margin-top: 5px;
    color: red;
}
.copy-right-area {
    padding: 15px 0;
    border-top: 1px solid #0071dc 61;
}
.copy-right-text {
    text-align: center;
}
.copy-right-text p {
    color: #fff;
    margin-bottom: 0;
}
.copy-right-text p a {
    color: #ffc221;
    border-bottom: 1px solid #ffc221;
}
.copy-right-text p a:hover {
    color: #0071dc;
    border-color: #0071dc;
}
.contact-widget i {
    font-size: 18px;
    color: #000060;
    margin-top: 5px;
    margin-right: 10px;
}
.contact-widget li {
    color: #454545;
    font-weight: 400;
    margin-bottom: 20px !important;
}

.social-icon li {
    display: inline-block;
    margin-right: 15px;
}

.social-icon i {
    color: #000060;
    font-size: 25px;
}
.scrollup {
    text-align: center;
    bottom: -40px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 999;
    border-radius: 50px 50px 4px 4px;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
}
.scrollup i {
    display: block;
    background-image: linear-gradient(90deg,#03228f,#0e73e4);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 0 2px rgba(0,0,0,.4);

}

.scrollup.active {
    bottom: 50px;
    transform: translateY(-95%);
    opacity: 1;
    visibility: visible;
}
/*  */

.search-mb {
    display: none;
}

#mbsearch .modal-header {
    padding: 0 !important;
    border-bottom: transparent!important;
    background-color: transparent!important;
}

#mbsearch .modal-content {
    background-color: transparent!important;
    border: none!important;
}
#mbsearch .modal-header .close {
    padding: 1rem;
    margin: 1rem 1rem -2rem auto;
    color: #fff;
}
/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #070b3b;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background: linear-gradient(90deg, #0072ff 0%, #3019b8 100%);
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px auto;
    -webkit-animation: rotate-in 1.2s infinite ease-in-out;
    animation: rotate-in 1.2s infinite ease-in-out;
}
.d-table-cell p {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}
@keyframes rotate-in {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*  */

.get-quote {
    padding: 100px 0;
}

.get-quote .contact-box {
    background-image: linear-gradient(250deg,#4e95ed,#03228f);
    padding: 80px 30px;
    border-radius: 5px 5px 5px 5px;
}
.get-quote .sec-title .sub-text.new-text {
    padding-left: 0;
    margin-bottom: 7px;
    color: #fff;
}

.get-quote .sec-title .sub-text {
    position: relative;
    padding-left: 95px;
    display: inline-block;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #03228f;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.get-quote .contact-box .address-box .address-icon {
    background-image: linear-gradient(275deg,#fff,#fcfcff);
    min-width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    margin-right: 23px;
}

.get-quote .sec-title .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
    margin-bottom: 20px;
}

.get-quote .address-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.get-quote .address-text {
    color: #fff;
    font-size: 18px;
}

.contact-widget.onepage-style .from-control {
    background: #fff;
}

.contact-widget .from-control {
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 0;
    background-color: #E8E8E8!important;
    width: 100%;
    max-width: 100%;
    outline: none;
    margin-bottom: 20px;
}

/* last need */
section {
    overflow-x: hidden!important;
}

/*  */

.team {
    position: relative;
    padding: 150px 0;
    background: #ffffff;
}

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
}
.team .member .member-img {
    position: relative;
    overflow: hidden;
}
.team .member .social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .member .social a {
    transition: color 0.3s;
    color: #111111;
    margin: 0 3px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background-image: linear-gradient(90deg,#03228f,#0e73e4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    color: #fff;
}
.team .member .social a:hover i {
    color: #FFC221;
}
.team .member .social i {
    font-size: 18px;
    line-height: 0;
}
.team .member .member-info {
    padding: 25px 15px;
    background-color: #F6F7F9;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #111111;
}
.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}
.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}
.team .member:hover .social {
    opacity: 1;
    bottom: 15px;
}
/*  */
